
$yellown : #FDB913 !important ;
$orangen : #F58220 !important ;
$redn : #E31F27 !important ;
$whiten: #FFFFFF !important;
body {
  font-family: Open Sans, sans-serif;
}
.imgLogo{
  max-width: 384px;
  max-height: 237px;
}
.logo{
  margin-top: 20px;
}
.searchBtn{
  margin-left: 10px;
  color: $orangen;
  outline-color: $orangen;
  border-color: $orangen;
  cursor: pointer;
  &:hover{
    outline-color: $redn ;
    border-color: $redn ;
    background-color: $redn;
    color: $whiten;
  }
  &:focus{
    color: $whiten;
    outline-color: $redn ;
    border-color: $redn ;
  }
  &:active{
    outline-color: $redn ;
    border-color: $redn ;
  }
}
.searchInput{
  box-sizing: border-box;
  width: 100%;
  outline-color: $orangen;
  border-color: $orangen;
  &:focus{
    box-shadow: 5px 5px 5px #888888;
    outline-color: $yellown ;
    border-color: $yellown ;
  }
}
.searchComp{
  justify-content: center;
}
.images{

  max-height: 376px;
}
.card-block{
  padding: 5px;
}
.cards{
  margin-bottom: 10px;

}
  .row {
    display: flex;
    flex-wrap: wrap;
  }

.books-list{
  margin-top: 15px;
}
.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid $orangen; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}
.card-footer{
  position:absolute;
  bottom:0;
  width:100%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@media only screen and (max-width: 33.9em) {
  .searchBtn {
    margin-left: 0px;
    margin-top: 5px;
  }
}
@media only screen and (max-width: 47.9em) {
  .searchBtn {
    margin-left: 0px;
    margin-top: 5px;
  }
}
@media (max-width: 61.9em) {
  .searchBtn {
    margin-left: 0px;
    margin-top: 5px;
  }
}
.card{
  padding-bottom:50px;
}